
- if (@user.id.eql? current_user.id and (@user.sign_in_count.eql? 0) or (@user.instructor and @user.instructor.any_blank?))
  - content = render partial: '/users/form'
  -# title = nil
  - msg = "<strong>Actualización de datos</strong>"
  - id = "updatePersonalData"
  = render partial: '/layouts/modal', locals: {content: content, id: id, msg: msg, title: nil, msg2: nil }

%br
%br
.border.m-3.p-3
  .text-center.align-middle
    %img{alt: "image", src: "#{image_path('resumen_actividades01.png')}"}
  %h3 Secciones:
  - if @instructor.sections.any?
    =# link_to 'Constancia de Trabajo', "/instructors/#{@instructor.id}/work_proof", class: 'btn btn-sm btn-primary'
    = render partial: '/sections/index', locals: {sections: @instructor.sections}
  - else
    .alert.alert-info Sin secciones asignadas 
