%br
%br
.border.m-3.p-3
	.text-center.align-middle
		%img{alt: "image", src: "#{image_path('resumen_actividades01.png')}"}
	%h3 Secciones:
	= render partial: '/sections/index', locals: {sections: @instructor.sections}