%h3{style: 'color: #6F9BED;'} 
  = "#{@user.name}, a continuación enviamos el cronograma para las siguientes semanas:"

.content{style: 'text-align:center;'}
  %br
  %b{style: 'color:#202124;font-size: 12pt;text-decoration: underline;'} INSCRIPCIONES PARA EL PROGRAMA FUNDEIM ONLINE 2020-C
  %br
  %br
  %u{style: 'color:#202124'} PROCESO DE INSCRIPCIÓN PARA EL PERIODO 2020-C
  %p{style: 'color:#202124'}= "Ingresar a ACEIM (fundeim.com) para inscribirse en el idioma de su preferencia según las fechas indicadas aquí para cada caso:"
  %br
  %u{style: 'color:#00b050'} ALUMNOS NUEVOS
  %br
  %u Registrarse e inscribirse en ACEIM en el idioma de su preferencia.

  %br
  %br
  %br
  %u{style: 'color:#00b050'} ALUMNOS QUE DESEAN REINCORPORARSE
  %p Enviar un correo con sus datos para brindarles apoyo con sus registros previos y nivel a cursar.

  %br
  %u{style: 'color:#00b050'} HORARIO DE REGISTRO E INSCRIPCIÓN EN ACEIM (Nuevos y Reincorporados)
  %p Desde el lunes 31 de agosto (8:00 am) hasta el viernes 04 de septiembre (5:00 pm)

  %br
  %u{style: 'color:#0070c0'} ALUMNOS REGULARES
  %p Todas las notas del 2020-B serán cargadas en ACEIM hasta el miércoles 02 de septiembre  a las 11:00 am.
  %p Para inscribirse en el nivel que le corresponde para el 2020-C, deben ingresar a ACEIM e inscribirse desde el miércoles 02 de septiembre (11:30 am) hasta el viernes 04 de septiembre (5:00 pm)

  %br
  %u{style: 'color:#0070c0'} PRECIO Y MODALIDADES DE PAGO
  %p El precio por nivel se mantiene en 20$ o su equivalente en Bs para el día de la inscripción. El monto en Bs se actualiza diariamente en la página de ACEIM. Luego de realizar su inscripción podrán ver el monto y las modalidades de pago, también podrán reportar su pago por la página de ACEIM. Consúltenos por correo si desea pagar en divisas.

  %br
  %u{style: 'color:#0070c0'} PRECIO Y MODALIDADES DE PAGO
  %p Jueves 09 de septiembre a partir de las 2:00 pm.
  %u Recuenden que es EXTREMADAMENTE importante que tengan el mismo correo (gmail) registrado en aceim y canvas para que este proceso tenga éxito.
  %br
  %br
  %br
  %u{style: 'color:#0070c0'} FECHA DE INICIO DE ACTIVIDADES EN CANVAS (2020-C)
  %p Lunes 14 de septiembre

  %br
  %p
    %u{style: 'background: yellow;'} IMPORTANTE:
    Por favor, estén atentos a estas fechas y no dejen pasar mucho tiempo para notificarnos por correo (fundeimucv@gmail.com) si no reciben la invitación a su aula en CANVAS. Siempre estamos dispuestos a ayudarlos si tienen alguna duda o requieren de algún apoyo relacionado con este proceso.

  %br
  %u{style: 'color:#0070c0'} OPCIONES DE PAGO
  %p En relación con el pago en divisas debemos esperar las decisiones del Gobierno sobre la flexibilización o no de la cuarentena para las dos próximas semanas.
  %p Si la semana del 31A al 04S es flexible, habilitaremos la oficina de FUNDEIM en la UCV un día en la mañana para recibir pagos en divisas en efectivo.
  %p Si la semana del 31A al 04S es radical, asumiremos que la semana del 7S – 11S sería flexible. En este caso, habilitaríamos entonces la oficina de FUNDEIM en la UCV el lunes 7S o martes 8S en la mañana para recibir pagos en divisas en efectivo.

  %br
  %br
  %u{style: 'color:#0070c0'} Nuestros estudiantes tienes dos opciones:

  %p
    %u{style: 'background: yellow;'} OPCIÓN 01:
    Procurar realizar la transferencia en Bs, según el monto y los datos bancarios que aparecen en sus usuarios de ACEIM.

  %p
    %u{style: 'background: yellow;'} OPCIÓN 02:
    Esperar y consultarnos por correo sobre la posibilidad de ir a la oficina de la UCV en las fechas indicadas arriba para realizar ese pago en divisas en efectivo.

  %br
  %b NOTA: Si deciden tomar esta opción (02), deben indicarlo por correo para avisarles cuando tengamos algo definido y darles instrucciones precisas sobre ese proceso.

  %br
  %p{style: 'color:#0070c0'} #SeguimosAvanzando #SeguimosVenciendoLaSombra