
%h3{style: 'color: #6F9BED;'} 
  = "Estimado #{@user.name},"
.content{style: 'text-align: justify;'}

  %p= @first_paragraph.html_safe

  %p No funciona con las APP descargables para dispositivos móviles, debe usarla desde el buscador de internet. 

  %p Le invitamos a estar pendiente de las fechas publicadas en nuestra página para el envío de las invitaciones a las aulas en CANVAS y para el inicio de las clases

  %p No deje pasar tantos días después de esas fechas para reportarnos por fundeimucv@gmail.com si no recibe la invitación o tiene algún inconveniente con el ingreso a su aula virtual.

  %p Saludos cordiales.
  
  %p{style: 'color:#0070c0'} #SeguimosAvanzando

  %p{style: 'color:#0070c0'} #SeguimosVenciendoLaSombra

