%div{style: "background-color: #f2f2f2; padding: 30px; margin: 10px;"}

  %h3{style: 'color: #6F9BED;'}= " Estimad@ estudiante #{@user.name}, bienvenido al programa de cursos de FUNDEIM ONLINE."

  .content{style: 'text-align: justify;'}

    %p
      Por favor, haga clíc en
      =link_to 'Mi Curso Fundeim ONLINE', @section.url_classroom_canvas
      para entrar a su aula en CANVAS.

    %p Cuando se abra la página de CANVAS coloque su usuario y contraseña. Luego haga click en Go To Course.

    %p Al entrar, verá la página de inicio, lea cuidadosamente la información presentada allí.

    %p Cuando ingrese a los módulos (menú de la izquierda) verá un Módulo de Introducción y una clase identificada como CLASE 12 de Repaso.

    %p Revise con detenimiento el contenido del Módulo de Introducción y espere instrucciones de su profesor para comenzar a trabajar con la clase de repaso.

    %p= "Esta cuenta de contacto no es monitoreada, así que cualquier duda o inquietud deben escribir un correo con su nombre, número de cédula y su requerimiento a fundeimucv@gmail.com y con gusto le atenderemos."

    %p Mucho éxito!!!
