%div{style: "background-color: #f2f2f2; padding: 30px; margin: 10px;"}
  %div{style: 'background: rgb(74,118,184);background: radial-gradient(circle, rgba(74,118,184,1) 0%, rgba(9,9,121,1) 78%); padding: 3px;'}
    %p{style: 'padding: 30px'}
      = image_tag "https://fundeim.sfo2.digitaloceanspaces.com/logo_eim_white.png", height: "90px", style: "float: right;"
      = image_tag "https://fundeim.sfo2.digitaloceanspaces.com/logo_fhye.png", height: "100px", style: "float: right;margin-right: 204px;"
      = image_tag "https://fundeim.sfo2.digitaloceanspaces.com/logo_ucv.png", width: "100px" 
    %div{style: 'color: #FFFFFF; text-align: center;margin: -10px;'}
      %h3 UNIVERSIDAD CENTRAL DE VENEZUELA
      %h3 Escuela de Idiomas Modernos
      %h3 FUNDEIM


  %h3 
    Estimado estudiante, le invitamos a hacer click
    = link_to 'aquí', 'https://forms.gle/htyFNhGHoT4qbcBn9'
    y llenar la encuesta sobre nuestro programa ONLINE.

  %h3 Saludos cordiales.
