%p Estimados  estudiantes de los cursos sabatinos,

%p Seguimos avanzando en el desarrollo del programa ONLINE que nos permitirá mantener el contacto con ustedes y brindarles todo el apoyo que requieren para el aprendizaje de idiomas.

%p= "Todo este proceso nos ha llevado a realizar varios cambios y actualizaciones en nuestras plataformas y ahora requerimos que cada uno de ustedes ingrese al nuevo ACEIM colocando en su buscador nuestra nueva dirección #{link_to 'fundeim.com', 'fundeim.com'} y en una primera instancia actualicen sus datos de contacto."

%p Ahora para ingresar a ACEIM deben colocar el correo electrónico que tenían registrado y la contraseña que normalmente usaban. Cada estudiante debe tener su propia cuenta de correo y contraseña.

%p No se alarmen si ven sus cursos previos incompletos, estamos migrando todos los registros académicos a esa nueva plataforma y muy pronto podrán ver allí su récord en nuestra institución.

%p Luego de actualizar sus datos en ACEIM, por favor, regístrense en el curso ONLINE y esperen a que le enviemos la invitación para comenzar a interactuar con su profesor en la plataforma CANVAS.

%p Recuerden que en CANVAS hemos diseñado actividades asíncronas para ustedes y podrán consultar los materiales y hacer preguntas a su profesor a su propio ritmo durante cada semana.

%p= "Esta cuenta de contacto no es monitoreada, así que cualquier duda o inquietud deben escribir un correo con su nombre, número de cédula y su requerimiento a #{link_to 'nuestro_correo', 'mailto:fundeimucv@gmail.com'} , y con gusto le atenderemos."

%p Este proceso de registro en el programa ONLINE estará abierto hasta el lunes 8 de junio a las 6:00 pm.

%p Estamos en contacto, saludos cordiales.