
%h3{style: 'color: #6F9BED;'} Estimados estudiantes de los cursos de FUNDEIM ONLINE, periodo 2020-B, gusto en saludarlos.

.content{style: 'text-align: justify;'}
  %p Ante todo deseamos felicitarlos por avanzar en su formación académica en idiomas y acompañarnos en esta gran aventura.

  %p Ya casi entramos en la última semana de su curso y deseamos precisar algunos detalles importantes:

  %p 1.- La semana del 24 al 28 de agosto estaremos realizando las inscripciones para alumnos nuevos y reincoporados para que cursen su nivel en el periodo 2020-C que comienza el lunes 14 de septiembre. 

  %p 2.- Ustedes son ALUMNOS REGULARES y deben esperar a terminar su nivel para poder inscribirse en el periodo siguiente. Sin embargo, si desean iniciar o retomar otro idioma podrán hacerlo esta semana del 24 al 28.
  %p 3.- Sus clases terminan el próximo fin de semana (domingo 30 de agosto) y sus instructores tienen hasta el miércoles 02 de septiembre para colocar todas sus notas en ACEIM y ese mismo día comenzaremos las inscripciones para ALUMNOS REGULARES.
  %p 4.- Los cursos en CANVAS del periodo 2020-B estarán disponibles para ustedes hasta el viernes 04 de septiembre a las 11:00 am, después de ese momento ya no tendrán acceso a esos materiales en esas aulas, por favor, tomen sus previsiones.
  %p 5.- Las inscripciones para los ALUMNOS REGULARES serán desde el miércoles 02 de septiembre a las 8:00 am hasta el viernes 4 de septiembre a las 5:00 pm.
  %p 6- Usaremos la semana del 07 al 11 de septiembre para terminar de confirmar sus inscripciones en el banco y preparar todo para el inicio de clases el lunes 14 de septiembre.
  %p 7.- Vamos aprobar otro método de ingreso a las aulas de CANVAS, para ello estaremos enviando invitaciones personalizadas a sus correos a partir del miércoles 09 de septiembre por la tarde. 
  %p= "8.- Es muy importante que el correo que tienen registrado en ACEIM sea el mismo de CANVAS para que puedan recibir la invitación al correo correcto y no tengan problemas para ingresar a sus aulas. Recuerden que todas sus dudas e inquietudes son atendidas por el correo fundeimucv@gmail.com"
  %br

  %p= "POR FAVOR, les invitamos amablemente a estar atentos a estas fechas y a los anuncios que iremos publicando en nuestra cuenta en twitter @fundeim"
  %br

  %p Saludos cordiales.



