
%h3{style: 'color: #6F9BED;'} 
  = "Estimado #{@user.name},"
.content{style: 'text-align: justify;'}
  %p FUNDEIM le informa que el plazo para realizar y reportar su pago del curso ONLINE en el que aparece preinscrito para el periodo 2020-C vence el martes 8 de septiembre a las 2:00 pm.

  %p Como las clases comienzan el lunes 14 de septiembre, debemos tener claro cuantos estudiantes tenemos en cada sección del 2020-C para poder afinar detalles y enviar las invitaciones personalizadas para las aulas en CANVAS el miércoles 9 de septiembre.

  %p El martes 8 de septiembre estaremos en la oficina de FUNDEIM en la UCV (9:00 am - 1:00 pm) solo para recibir pagos en divisas. 

  %p Si va a cancelar en divisas, por favor, reporte su pago por la página de ACEIM y lleve el monto exacto el martes.

  %p Si ya reportó su pago en divisas nos vemos el martes.

  %p Ignore este mensaje si usted ya reportó su pago en Bs y está esperando confirmación de nuestro Dpto. de Administración.

  %p Si tiene alguna duda o requiere de algún apoyo estamos a su orden por el correo fundeimucv@gmail.com

  %p Que tenga una excelente semana, llena de éxitos, salud y progreso.

  %p{style: 'color:#0070c0'} #SeguimosAvanzando

  %p{style: 'color:#0070c0'} #SeguimosVenciendoLaSombra

