%h2{style: 'text-align: center;'} Bienvenido a ACEIM 
%h2{style: 'text-align: center;'} Administrador de los Cursos de FUNDEIM - EIM - UCV
%h2{style: 'text-align: center;'} 
  = "🎉 BIENVENIDOS * WELCOME * BEM-VINDO * BIENVENU *  WILLKOMMEN * BENVENUTO 🎉".html_safe

.content{style: "text-align: justify; padding: 5px 30px;"}

  %p ¡Le damos la más cordial bienvenida a nuestra plataforma administrattiva Aceim!

  %p Esta plataforma será muy útil para usted porque aquí podrá ver su récord académico, tramitar su inscripción y reportar el pago de sus cursos.

  %p
    De ahora en adelante podrá ingresar a su sesión de usuario mediante el botón
    %a{style: "color: #fff;background-color: #0069d9;border-color: #0062cc;padding: 0.5rem 1rem;font-size: 1.25rem;line-height: 1.5;border-radius: 0.3rem;text-decoration: none;", href: 'https://aceim.fundeim.com/users/sign_in'} Ingreso Regular 

  %p Saludos cordiales.
  
  %p{style: 'color:#0070c0'} #SeguimosAvanzando

  %p{style: 'color:#0070c0'} #SeguimosVenciendoLaSombra