%h2{style: 'text-align: center;'} Bienvenido a ACEIM 
%h2{style: 'text-align: center;'} Administrador de los Cursos de FUNDEIM - EIM - UCV
%h2{style: 'text-align: center;'} 
  = "🎉 BIENVENIDOS * WELCOME * BEM-VINDO * BIENVENU *  WILLKOMMEN * BENVENUTO 🎉".html_safe

.content{style: "text-align: justify;"}

  %h4 ¡Le damos la más cordial bienvenida a nuestra plataforma administrattiva Aceim!

  %p Esta plataforma será muy útil para usted porque aquí podrá ver su récord académico, tramitar su inscripción y reportar el pago de sus cursos.

  %p= "De ahora en adelante podrá ingresar a su sesión de usuario mediante el botón #{ApplicationMailer::INGRESO_REGULAR_BTN}".html_safe

  