= link_to "/admin/academic_record/#{ar.id}",{type: 'button', class: 'tooltip-btn btn btn-sm btn-info mb-2 ml-2', title: 'Ir al registro de inscripción', data: {toggle: :tooltip}} do
  %span.fa.fa-search
