= form_for @usuario, html: { class: 'form-horizontal' } do |f|

<%= form_for @user do |f| -%>
  <%if @user and @user.student %>
      <%= text_field_tag :student, :personal_identity_document %>
  <% end -%>

  <div class="form-group">
      <%= f.text_field :name, autofocus: true, placeholder: 'Nombres', class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.text_field :last_name, autofocus: true, placeholder: 'Apellidos', class: 'form-control' %>
  </div>
<% end -%>


:javascript

  $('.upcase').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().toUpperCase());
  });


  $('.ci').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().replace(/[^0-9]/g,'') );
    });