%h2 Recuperar mi contraseña
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .form-group
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo Electrónico", class: "form-control input-login", required: true
  .actions
    = f.submit "Envíame instrucciones de reinicio de contraseña", class: 'btn btn-primary'
= render "devise/shared/links"
