.border

	= image_tag Rails.application.routes.url_helpers.rails_blob_path(virtual_object.backup_file, only_path: true), style: 'max-height: 500px;' #virtual_object.backup_file #'payment_3087'
	=# image_tag Rails.application.routes.url_helpers.rails_blob_path(virtual_object.backup_file.variant(resize_to_fit: [200, 200]), only_path: true) #virtual_object.backup_file #'payment_3087'
	=# image_path virtual_object.backup_file
	=# image_path '/public/payment_receives/payment_3087' 
