
=link_to "Lista de Emails", "javascript:void(0)", class: 'btn btn-info', onclick: "$('#emails').toggleClass('hidden')"
.container-fluid.middle-box.hidden#emails.text-justify
	%span.input{role: "textbox", style: 'margin-top:10px'}= section.list_of_emails_canvas



