.label.label-info.tooltip-btn{data: {toggle: :tooltip, title: 'Preinscritos'}}= objeto.academic_records.preinscrito.count
.label.label-warning.tooltip-btn{data: {toggle: :tooltip, title: 'Confirmados'}}= objeto.academic_records.confirmado.count
.label.label-success.tooltip-btn{data: {toggle: :tooltip, title: 'Asignados'}}= objeto.academic_records.asignado.count

= '/'

.label.label-success.tooltip-btn{data: {toggle: :tooltip, title: 'Aprobados'}}= objeto.academic_records.approved.count
.label.label-danger.tooltip-btn{data: {toggle: :tooltip, title: 'Reprobados'}}= objeto.academic_records.repproved.count
.label.label-default.tooltip-btn{data: {toggle: :tooltip, title: 'PI'}}= objeto.academic_records.pi.count
