.color-bg-nav {background-image: linear-gradient(#1B3A5B, #006D9D) !important}

a.nav-bar-link:hover{color: white !important;}

$enable-gradients: true;

.grey-bg{background-color: #f3f3f4;}

.input-login{display: inline; width: auto}

.upcase{text-transform: uppercase}


.rotate {

  transform: rotate(45deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(45deg);

  /* Firefox */
  -moz-transform: rotate(45deg);

  /* IE */
  -ms-transform: rotate(45deg);

  /* Opera */
  -o-transform: rotate(45deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}