
%table.table.table-striped.table-sm.table-hover.table-responsive-md.mt-3
	%thead
		%tr
			%th CI
			%th Apellidos
			%th Nombre
			%th Corrreo
	%tbody
		- field.bindings[:object].academic_records.includes({student: :user}).order('users.last_name').each do |ar| 
			- user = ar.student.user
			%tr
				%td= ar.student.personal_identity_document
				%td= user.last_name
				%td= user.name
				%td= user.email