<%# if current_user.sign_in_count.eql? 0 or current_user.current_user.name.blank? or current_user.last_name.blank? or (current_user.student and current_user.student.personal_identity_document.blank?) %>

<%- if true %>
  <%@user = current_user%>
  <div class="modal fade" id="update_personal_data" aria-labelledby="updateModalLabel" aria-hidden="false">
  
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="alert alert-info text-center">
          <h5>
            <strong> Atención: </strong>
            Por favor, actualiza tus datos personales
          </h5>
        </div>
        <div class="text-center" id="updateModalLabel">
          Datos Personales
        </div>
        <div class="modal-body">
          <div class="border m-1 p-3">
            <%= render partial: '/users/form'%>
          </div>
        </div>
      </div>
    </div>  
  </div>



<% end -%>


<h1>Bienvenido - Dashboard</h1>

<h3>Registro Académico:</h3>

<div class="border p-3">
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th>Curso</th>
        <th>Período</th>
        <th>Calificación</th>
      </tr>
    </thead>
    <tbody>
      <%- current_user.student.academic_records.each do |ra| %>
        <tr>
          <td><%= ra.section.course.name %></td>
          <td><%= ra.period_desc %></td>
          <td><%= ra.final_qualification %></td>
        </tr>
      <% end -%>
    </tbody>

  </table>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#exampleModal").modal({ keyboard: false, backdrop: 'static' });
  });

</script>
