<h1>Bienvenido - Dashboard</h1>

<h3>Registro Académico:</h3>

<div class="border p-3">
	<table class="table table-sm table-striped table-hover">
		<thead>
			<tr>
				<th>Curso</th>
				<th>Período</th>
				<th>Calificación</th>
			</tr>
		</thead>
		<tbody>
			<%- current_user.student.academic_records.each do |ra| %>
				<tr>
					<td><%= ra.section.course.name %></td>
					<td><%= ra.period_desc %></td>
					<td><%= ra.final_qualification %></td>
				</tr>
			<% end -%>
		</tbody>

	</table>
</div>