- bank_account = BankAccount.owns.first

%p
  Estimado(a) 
  = "#{@user.full_name},"
  hemos procesado su pago con éxito.


%h3{align: :center} Factura Proforma:
= render '/payment_details/bill_detail'
%p{style: 'margin-top: 2em;'} 
  Por favor, ingrese a su sesión en 
  = link_to 'ACEIM', 'https://aceim.fundeim.com/users/sign_in' 
  para que pueda ver y descargar su planilla de inscripción.