%p
  ¡Hola #{@resource.name}!
%p Se ha solicitado el reinicio de contraseña. Puedes hacerlo mediante el siguiente enlace:
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p=# link_to 'Cambiar mi contraseña (Nuevo)', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Si no hiciste la solicitud, por favor ignora éste correo.
%p También puedes crear una nueva cuenta mediante el enlace arriba suminstrado.
= render 'footer_fundeim'
