%p
  Hola #{@resource.name}!
%p Se ha solicitado el reinicio de contrase&#xF1;a. Puedes hacerlo mediante el siguiente enlace:
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si no hiciste la solicitud, por favor ignora &#xE9;ste correo.
%p Tambi&#xE9;n puedes crear una nueva cuenta mediante el enlace arriba suminstrado.
\%= render 'footer_fundeim'
