- raw, hashed = Devise.token_generator.generate(User, :reset_password_token)
- @resource.reset_password_token = hashed
- @resource.reset_password_sent_at = Time.now.utc
- @resource.save
%p
  ¡Hola #{@resource.name}!
%p Se ha solicitado el reinicio de contraseña. Puedes hacerlo mediante el siguiente enlace:
%p= link_to 'Cambiar mi contraseña (Otro más)', "https://aceim.fundeim.com/users/password/edit?reset_password_token=#{raw}"

%p Si no hiciste la solicitud, por favor ignora éste correo.
%p También puedes crear una nueva cuenta mediante el enlace arriba suminstrado.
= render 'footer_fundeim'
