</br>
</br>
<div class="container-fluid middle-box text-center loginscreen animated fadeInDown mt-5" >
    <div>
        <div>

            <h1 class="logo-name">
              <%= image_tag 'logo_aceim2'%>
            </h1>

        </div>
        <%= content %>
    </div>
</div>