!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      ul { list-style: none; }
      body {background: #f2f2f2, padding-top: 40px; font-family: 'Helvetica Neue',Helvetica;}
  %body

    %div{style: "background-color: #f2f2f2; padding: 10px; margin: 5px;"}
      %div{style: 'background: rgb(74,118,184);background: radial-gradient(circle, rgba(74,118,184,1) 0%, rgba(9,9,121,1) 78%); padding: 3px;'}
        %p{style: 'text-align:center;margin: 15px;'}
          = image_tag "https://fundeim.sfo2.digitaloceanspaces.com/email_banner_logos.png", style: 'width:75%;height:auto' 
        %div{style: 'color: #d6e3fc; text-align: center;'} 
          %h3{style: 'margin: 0 0 5px 0;'} UNIVERSIDAD CENTRAL DE VENEZUELA
          %h3{style: 'margin: 0 0 5px 0;'} Escuela de Idiomas Modernos
          %h3{style: 'margin: 0 0 10px 0;'} FUNDEIM
  
      %div{style: "padding: 10px 30px 5px 30px ; margin: 10px;"}
        = yield
        %p Saludos cordiales.
      %p{style: 'color:#0070c0;margin: 5px 40px'} #SeguimosAvanzando

      %p{style: 'color:#0070c0;margin: 5px 40px'} #SeguimosVenciendoLaSombra

      %h4{style: "padding: 5px 35px; margin: 5px;"}= "IMPORTANTE: No dude en contactarnos  por fundeimucv@gmail.com si requiere de algún tipo de apoyo."

      %div{style: 'background: rgba(9,9,121,1) 78%; padding: 1px;'}
        %div{style: "color: #d6e3fc;text-align: center;"}
          %h4{style: 'margin: 5px 0;'} Gracias por confiar en nosotros para su formación académica
          %h4{style: 'margin: 0 0 5px 0;'} FUNDEIM - UCV #VenciendoLaSombra


      